body {
  margin: 0;
  padding: 0;
  width: 300px;
  background: #1b1b23;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

.tl-extension {
  padding: 1rem;
}

#tl-extension__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tl-extension__bad-host {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.tl-extension__title {
  margin: 0;
  padding: 0.5rem;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #323443;
}

.tl-extension__btn {
  padding: 0 0.5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #3559e0;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}

.tl-extension__data p {
  padding-top: 1rem;
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

#tl-extension__data__error {
  color: red;
}
#tl-extension__data__status {
  color: white;
}

.tl-extension__hidden {
  visibility: hidden !important;
  display: none !important;
}
